<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160309006796-a8pvahes0fr421mc9ai8ab2vr20fv08h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160309006796-a8pvahes0fr421mc9ai8ab2vr20fv08h</string>
	<key>API_KEY</key>
	<string>AIzaSyDcoSwkWy6n69bYDw6LKcgpYzm7zUo9o5U</string>
	<key>GCM_SENDER_ID</key>
	<string>160309006796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andrewg9.RealReserve</string>
	<key>PROJECT_ID</key>
	<string>reserve-447ff</string>
	<key>STORAGE_BUCKET</key>
	<string>reserve-447ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160309006796:ios:7d6dc59a3d83f187ab0d69</string>
</dict>
</plist>